header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo1 img {
    height: 40px;
    /* chỉnh kích thước logo */
    width: auto;
    /* tự động giữ tỉ lệ */
}